@use '../../../constants';
@use '../../../utils';

.ControlBar {
  @include utils.box-shadow(0px, 4px, 10px, 2px, rgba(0, 0, 0, 0.75));
  @include utils.box-sizing(border-box);

  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: inherit;
  height: constants.$navigation-bar-height;
  top: 0;
  background-color: rgb(255, 255, 255);
  padding: 0px 10px;

  @media (max-width: 640px) {
    justify-content: center;
    padding: 0px;
  }

  h1 {
    text-align: left;
    color: constants.$primary-color;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.7em;

    @media (max-width: 640px) {
      display: none;
    }
  }

  > div {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__Controls {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 50%;

    &__Icons {
      width: 1.8em;
      height: 1.8em;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}
