@use '../../../constants';
@use '../../../utils';

.ToggleButton {
  @include utils.disable-selection();
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: calc(#{constants.$navigation-bar-height} / 2);
  cursor: pointer;
  border-radius: 3px;
  padding: 5px;
  font-family: 'Avenir', sans-serif;
  font-size: 1em;
  font-weight: 400;

  &:hover &__Tooltip {
    visibility: visible;
    opacity: 1;
  }

  &__Tooltip {
    visibility: hidden;
    width: 120px;
    background-color: #555e;
    color: #fff;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    top: 125%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
  }
}
