// Colors
$primary-color: #056bb3;
$background-color: white;
$node-background-color: rgb(255, 245, 238);
$node-visited-color: #bcbcbc;
$node-departure-color: rgb(60, 179, 113);
$node-destination-color: rgb(30, 144, 255);
$node-path-color: rgb(255, 215, 0);
$node-barrier-color: rgb(165, 42, 42);

// Numbers
$navigation-bar-height: 70px;
